"*":
  editor:
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
    fontSize: 15
    softWrap: true
  core:
    themes: [
      "flatland-dark-ui"
      "flatland"
    ]
    disabledPackages: [
      "language-js-specs"
    ]
  "release-notes":
    viewedVersion: "0.65.0"
  welcome:
    showOnStartup: false
  "save-session":
    dataSaveFolder: "~/.atom/packages/save-session/projects"
  "tabs-to-spaces":
    onSave: "untabify"
